body {
	background-color: white;
	color: black;
	font-family: sans-serif;
	position: relative;
	left: 10%;
	width: 80%;
	font-size: 12px;
}
p {
	position: relative;
	width: 90%;
}
h1, h2, h3 {
	position: relative;
  color: #760600;
}
h1 {
	font-size: 2em;
}
h2 {
	font-size: 1.3em;
}
code, pre {
	font-family: monospace;
	/*letter-spacing: 1px;*/
}
pre {
	border: dashed;
	border-width: thin;
	position: relative;
	left: 5%;
	width: 80%;
	padding-bottom: 1em;
	background-color:  #CAE2D1;
}

code {
	background-color: #E5FFED;
}
